/* Reset simples */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,html {
  line-height: 1.6;
  height: 100%;
}

/* Cabeçalho */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  background-color: #1f3b6f;
  width: 100%;
  font: 15px "Assistant", Sans-serif;
}

header img{
  height: 150px;
  width: 180px;
}

h1 {
  color: #1f3b6f;
  margin-bottom: 0.5rem;
  justify-content: right;
  font-size: 25px;
}

nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: #d4a437;
}

nav a {
  text-decoration: none;
  color: #d4a437;
  font-weight: bold;
  gap: 10px; /* Espaçamento entre os itens do menu */
}


nav a:hover {
  color: #d4a437;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #1f3b6f;
  font-size: 16px;
  
}

.menu > li {
  position: relative;
}

/* SECTION PAROQUIA */

.menu > li > a,
.dropbtnParoquia {
  display: inline-block;
  color: #d4a437;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #1f3b6f;
  display: inline-block;
}


.menu > li > a:hover,
.dropbtnParoquia:hover {
  background-color: #2d4f8f;
}

/* Submenu oculto por padrão */
.dropdown-content-Paroquia {
  display: none;
  position: absolute;
  top: 100%; /* abaixo do item principal */
  left: 0;
  background-color: #fff;
  min-width: 200px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  z-index: 10;
}

/* Estilo dos links do submenu */
.dropdown-content-Paroquia a {
  color: #1f3b6f;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content-Paroquia a:hover {
  background-color: #dbe3f1;
}

/* Mostrar submenu ao passar o mouse */
.dropdownParoquia:hover .dropdown-content-Paroquia {
  display: block;
}

/* ATÉ AQUI SECTION PAROQUIA */





.menu > li > a,
.dropbtnSacramentos {
  display: inline-block;
  color: #d4a437;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #1f3b6f;
}

.menu > li > a:hover,
.dropbtnSacramentos:hover {
  background-color: #2d4f8f;
}

/* Submenu oculto por padrão */
.dropdown-content-Sacramentos {
  display: none;
  position: absolute;
  top: 100%; /* abaixo do item principal */
  left: 0;
  background-color: #fff;
  min-width: 200px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  z-index: 10;
}

/* Estilo dos links do submenu */
.dropdown-content-Sacramentos a {
  color: #1f3b6f;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content-Sacramentos a:hover {
  background-color: #dbe3f1;
}

/* Mostrar submenu ao passar o mouse */
.dropdownSacramentos:hover .dropdown-content-Sacramentos {
  display: block;
}



/* Conteúdo principal */
.containerImagem{
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: #0B2545;
  color: #ffffff;
}

.containerImagem h2{
  color: #ffffff;
}

.containerImagem h1{
  color: #1CCCFF;
}

.textoSobreImagem {
  position: absolute;
  bottom: 20px;
  left: 20px;
  padding: 20px 30px;
  max-width: 600px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0,0,0,0.25);
  color: #ffffff;
  font-size: 157%;
  line-height: 1.4;
  font-family: 'Open Sans';
  background-color: rgba(0, 0, 0, 0.4); /* fundo escuro translúcido */
}

#imagemMatriz{
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}

main {
  padding: 2rem;
  text-align: center;
  margin: 0;
  padding: 0;
}

main h2 {
  font-size: 1.8rem;
  color: #1f3b6f;
  margin-bottom: 0.5rem;
}

main p {
  font-size: 1.1rem;
}

#botoesTelaInicial{
  display: flex;
  flex-wrap: nowrap;
  background-color: #0B2545;
}

.botoes{
  display:inline-block;
  justify-content: space-around;
  width: 20%;
  padding: 30px;
  margin-top: 10px;
  flex-direction: row;
  padding: 70px 0;
  border: 3px solid green;
  text-align: center;
  background-color: #0B2545;
}

.botoes:hover{
  background-color: #6c838a;
}

.botoes a{
  color: #1CCCFF;
}

.botoes p, i{
  color: white;
}

.botoes i, img{
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 20px;
}

#santissimoEhorarioMissa {
  display: flex;
  justify-content: center;  
  align-items: flex-start;  
  gap: 40px; 
  padding: 10px;
  max-width: 1200px;
  margin-top: 50px;
}


#imagemSantissimo img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Bloco da direita com conteúdo em coluna */
#blocoDireita {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Missas (em linha única com quebra automática de dias) */
#horarioMissasMatriz {
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 8px;
}

/* Título MISSAS + MATRIZ */
.tituloMissas {
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-width: 120px;
}

/* Container dos dias e horários */
.linhaMissas {
  display: flex;
  gap: 20px;
  align-items: center;
  flex-wrap: nowrap;
  text-align: center;
}

/* Cada dia da semana */
.diasSemanaMissas {
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: nowrap;
}

.diasSemanaMissas h5,
.diasSemanaMissas p {
  margin: 0;
  text-align: center;
}


/* Capelas e adoração abaixo */
#capelasAdoracaoConfissoes {
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 8px;
}

.informacoes h3 {
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: 600;
}

.informacoes p {
  margin: 0;
}


#sectionSacramentos{
  background-color: #D5EAFF6B;
  width: auto;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

#sectionSacramentos h1{
  font-size: 48px;
  font-weight: 700;
}

#sectionSacramentos img{
  display: inline-block;
  justify-content: center;
}


.containerParoco{
  display: flex;
  gap: 20px; /* Espaço entre imagem e texto */
  align-items: flex-start; /* Alinha pelo topo */
  margin-top: 20px;
  margin-left: 20px;
}

#sectionParoco h1{
  font-size: 48px;
  font-weight: 700;
}

#imagemParoco img{
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  opacity: 1;
  box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#historiaParoco{
  max-width: 600px;
  font-size: 1.1rem;
  line-height: 1.6;
  background: #FFFFFF;
  background-color: #A112A200;
  color: #13315C;
  text-align:right;
 
}

#historiaParoco h3{
  color: #1282A2;
  font-size: 32px;
  font-weight: 700;
}

#historiaParoco h4{
  color: #BCA644;
  font-size: 20px;
  font-weight: 600;
}

.conhecaMaisClero{
  margin-top: 30px;
  color: #13315C;
  font-size: 20px;
  font-weight: 600;
  border-style: solid;
  border-color: #1282A2;
  border-width: 2px 2px 2px 2px;
  text-decoration: underline;
  width: 400px;
  margin-left: 200px;
  opacity: 1;
  text-align: center;
}

.conhecaMaisClero:hover{
  color: #BCA644;
  text-decoration: none;
}



#tituloSacramentos{
  margin: 50px;
}

#quatroSacramentos{
  display: flex;
  width: auto;
  gap: 10px;
  margin: 20px;

}

.iconesSacramentos{
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid #1282A25E;
  gap: 5px;
}

#sectionPastoraisGruposMovimentos h2{
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 48px;
  font-weight: 700;
}

#divPastoraisGruposMovimentos{
  display: grid;
  flex-direction: row;
  flex-wrap: wrap;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  background-color: #F2E4BF;
}

#divPastoraisGruposMovimentos h5{
  color: #1282A2;
  font-size: 25px;
  font-weight: 700;
}

.iconesPastoraisGruposMOvimentos{
  margin: 2px;
  padding: 5px;
  border: 2px solid;
  border-color: #BCA64485;
}

.iconesPastoraisGruposMOvimentos:hover{
  background-color: #FFFFFF;
}



#sectionDizimo {
  background-color: #f9f9f9;
  margin-top: 40px;
  background-color: #800c0c;
}

.dizimoConteudo{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 30px;
  margin-bottom: 40px;
  
}

.dizimoConteudo p{
  color: white;
}

#imagemDizimo img {
  width: 300px;
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

#textoDizimo {
  flex: 1;
  min-width: 280px;
}

#textoDizimo h3 {
  font-size: 28px;
  color: #BCA644;
  margin-bottom: 8px;
}

#textoDizimo h5 {
  font-size: 18px;
  color: #0a9396;
  margin-bottom: 15px;
}

#textoDizimo p {
  margin-bottom: 10px;
  line-height: 1.6;
}

#infoPix {
  background-color: #890000;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  
}

#infoPix h1 {
  font-size: 24px;
  color: #BCA644;
  margin-bottom: 10px;
}

#infoPix h2 {
  font-size: 18px;
  margin: 8px 0;
  color: white;
 
}

#infoPix p {
  font-size: 16px;
  color: white;
}


.containerDoacao {
  display: flex;
  align-items: flex-start; /* Alinha os blocos pelo topo */
  gap: 50px; /* Espaço entre os blocos */
  margin-top: 20px;
  justify-content: center;
  color: white;
}

.imagensPix,
#contaItau {
  width: 200px;
}

.imagensPix img,
#contaItau img {
  max-width: 100%;
  height: auto;
  display: block;
}

#sectionComunicacao{
  display: flex;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}


#redesSociaisParoquia{
  margin-top: 30px;
  display: block;
  width: 50%;
  height: 50%;
  text-decoration: none;
}

#botaoYoutube{
  font-size:24px; 
  color: red; 
  background: #c4302b;
  display: block;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  width: 180px;
}

#botaoYoutube a{
  text-decoration: none;
}

#botaoFacebook{
  font-size:24px; 
  color: blue; 
  background: #3b5998;
  display: block;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  text-decoration: none;
}

#botaoInstagram{
  font-size:24px; 
  color: #fff; 
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0,0,0,.25);
  display: block;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  text-decoration: none;
}

#botaoInstagram:hover{
  background-color: #2b4fc4;
}

#telaYoutube{
  margin-top: 20px;
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  flex-direction: column;
}


#sectionInfoFooter{
  position: relative; 
  display: flex;
  justify-content: space-between;
  padding: 40px 20px;
  background-color: #0B2545;
  color: white;
  flex-wrap: wrap;
}

#sectionInfoFooter h3{
  color: #BCA644;
  font-weight: 600;
  font-size: 28px;
  font-family: "Assistant", Sans-serif;
}

#sectionInfoFooter p, ul, li{
  color: white;
}


#footerSecretaria{
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 20px;
}

#footerContatos{
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 20px;
}

#footerContatos li{
  list-style-type: none;

}


#footerLinksUteis{
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 20px;
}

#footerLinksUteis a {
  text-decoration: none;
  color: white;

}

/* Rodapé */
footer {
  background-color: #f5f0e6;
  border-top: 2px solid #e3dac9;
  justify-content:space-evenly;
  align-items: baseline;
  position: relative;
  left: 0;
  width: 100%;
  height: 50px;
  text-align:center;
  bottom: 5px;
}


/* Linha horizontal com icone da igreja */
.linhaComIcone {
      display: flex;
      align-items: center;
      text-align: center;
      margin: 40px 0;
    }

    .linhaComIcone::before,
    .linhaComIcone::after {
      content: '';
      flex: 1;
      border-bottom: 5px solid #BCA644;
    }

    .linhaComIcone i {
      padding: 0 15px;
      color: #BCA644; /* cor do ícone */
      font-size: 24px;
    }
