/* Reset básico */
body {
  font-family: "Segoe UI", Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
  line-height: 1.6;
}

/* Estilo do conteúdo principal */
main {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px 30px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
}

/* Títulos principais */
h2 {
  color: #134074;
  border-bottom: 2px solid #3498db;
  padding-bottom: 8px;
  margin-top: 30px;
  text-align: center;
}

h3 {
  color: #2980b9;
  margin-top: 25px;
}

h4 {
  margin-top: 25px;
  color: #34495e;
  background-color: #ecf0f1;
  padding: 8px 12px;
  border-left: 5px solid #3498db;
  border-radius: 4px;
  text-align: center;
}

main img{
    text-align: center;
    display: block;
    width: 400px; 
    margin: 0 auto;
}

#imagensDuasSantas{
  display: flex; 
  justify-content: center; 
  align-items: center;
  gap: 5px;
  margin: 0 auto;
  padding: 10px;
  width: 300px;
}

/* Parágrafos */
p {
  margin-bottom: 10px;
}

/* Listas */
ul {
  margin: 0px 0 20px 20px;
  padding-left: 10px;
}

ul li {
  margin-bottom: 5px;
}

/* Responsividade simples */
@media (max-width: 600px) {
  main {
    padding: 15px;
  }

  h2, h3, h4 {
    font-size: 1.2em;
  }
}


header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1f3b6f;
  width: 100%;
}

header img{
  height: 150px;
  width: 190px;
}

h1 {
  color: #1f3b6f;
  margin-bottom: 0.5rem;
  justify-content: right;
  font-size: 25px;
}

nav ul {
  display: flex;
  gap: 2px; /* Espaçamento entre os itens do menu */
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: #d4a437;
}

nav a {
  text-decoration: none;
  color: #d4a437;
  font-weight: bold;
}


nav a:hover {
  color: #d4a437;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #1f3b6f;
  font-size: 15px;
}

.menu > li {
  position: relative;
}

/* SECTION PAROQUIA */

.menu > li > a,
.dropbtnParoquia {
  display: inline-block;
  color: #d4a437;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #1f3b6f;
}

.menu > li > a:hover,
.dropbtnParoquia:hover {
  background-color: #2d4f8f;
}

/* Submenu oculto por padrão */
.dropdown-content-Paroquia {
  display: none;
  position: absolute;
  top: 100%; /* abaixo do item principal */
  left: 0;
  background-color: #fff;
  min-width: 200px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  z-index: 10;
}

/* Estilo dos links do submenu */
.dropdown-content-Paroquia a {
  color: #1f3b6f;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content-Paroquia a:hover {
  background-color: #dbe3f1;
}

/* Mostrar submenu ao passar o mouse */
.dropdownParoquia:hover .dropdown-content-Paroquia {
  display: block;
}

/* ATÉ AQUI SECTION PAROQUIA */


.menu > li > a,
.dropbtnSacramentos {
  display: inline-block;
  color: #d4a437;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #1f3b6f;
}

.menu > li > a:hover,
.dropbtnSacramentos:hover {
  background-color: #2d4f8f;
}

/* Submenu oculto por padrão */
.dropdown-content-Sacramentos {
  display: none;
  position: absolute;
  top: 100%; /* abaixo do item principal */
  left: 0;
  background-color: #fff;
  min-width: 200px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  z-index: 10;
}

/* Estilo dos links do submenu */
.dropdown-content-Sacramentos a {
  color: #1f3b6f;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content-Sacramentos a:hover {
  background-color: #dbe3f1;
}

/* Mostrar submenu ao passar o mouse */
.dropdownSacramentos:hover .dropdown-content-Sacramentos {
  display: block;
}